<h2>THE DRINK ORDER.</h2>

<h5>Order Date: <%= @drink.created_at %> </h5>

<div class="card">
    <h4 class="card-header"><%= @drink.name.upcase %></h4>
    <br />
    <p>
        The type of drink you ordered is <%= @drink.category %>,
        and you requested for <%= @drink.quantity %> drink(s).
    </p>
    <p>
        <a href="/drinks/<%= @drink.id %>/edit" class="">Edit Order</a>
        <a href="/drinks" class="">Continue</a>
    </p>
    <form action="/drinks/<%= @drink.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Order">
    </form>
</div>
