<h1>ACCOUNT SETTINGS.</h1>
<p></p>

<form action="/clients/<%= @client.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <p>
        <label for="client_username">Userame</label>
        <input type="text" id="client_username" name="username" value="<%= @client.username %>" disabled>
    </p>
    <p>
        <label for="client_email">Email Address</label>
        <input type="email" id="client_email" name="email" value="<%= @client.email %>">
    </p>

    <p>
        <label for="client_password">Password</label>
        <input type="password" id="client_password" name="password" value="<%= @client.password %>">
    </p>

    <a href="/clients/<%= @client.id %>">Cancel</a>
    <input type="submit" value="Confirm">
</form>